/*!reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --barlow: "Barlow", sans-serif;
  --fraunces: "Fraunces", serif;
  --barlow600: 600;
  --fraunces700: 700;
  --fraunces900: 900;

  /*COLORS*/
  --Darkmoderatecyan: hsl(168, 34%, 41%); /*(footer):*/
  --Darkdesaturatedcyan: hsl(167, 40%, 24%); /*(graphic design text)*/
  --Grayishblue: hsl(210, 4%, 67%);
  --Verydarkgrayishblue: hsl(213, 9%, 39%);
  --Darkblue: hsl(198, 62%, 26%); /*(photography text)*/
  --Softred: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
}

/*HEADER*/
.header-container {
  position: relative;
  background: url("/images/desktop/image-header.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.header-container > h1 {
  font-family: var(--fraunces);
  font-weight: var(--fraunces900);
  color: white;
  font-size: 5rem;
  word-spacing: 1rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  padding-top: 5rem;
}

.header-container > img {
  height: 15%;
  position: absolute;
  top: 45%;
}

.header-navbar {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.header-navbar img {
  object-fit: contain;
}
.header-navbar ul {
  list-style: none;
}

.header-navbar ul li {
  display: inline-block;
  padding: 0 20px;
}

.header-navbar ul li > a {
  font-family: var(--barlow);
  text-decoration: none;
  font-weight: var(--barlow600);
  color: white;
}

.header-navbar ul li:nth-child(4) {
  background-color: white;
  border-radius: 25px;
  padding: 12px;
  width: 100px;
  text-transform: uppercase;
}

.header-navbar ul li:nth-child(4) a {
  color: black;
}

.header-navbar ul li:nth-child(4) a:hover {
  color: white;
}
.header-navbar ul li:nth-child(4):hover {
  background-color: var(--Darkdesaturatedcyan);
}

.menulogo {
  display: none;
}

/*MAIN*/
.main-container {
  display: inline-block;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.main-container section {
  width: 100%;
  height: 100%;
}
.main-container section article {
  display: inline-block;
  width: 350px;
  height: 250px;
}
.main-container section img {
  width: 100%;
  height: 100%;
}

.main-container section:nth-child(1),
.main-container section:nth-child(4) {
  display: grid;
  place-content: center;
}

.main-container section:nth-child(1) p,
.main-container section:nth-child(4) p {
  font-family: var(--barlow);
  font-weight: var(--barlow600);
  color: var(--Grayishblue);
  font-size: 1.4rem;
  padding-bottom: 30px;
}

.main-container section:nth-child(1) h2,
.main-container section:nth-child(4) h2 {
  font-family: var(--fraunces);
  font-weight: var(--fraunces900);
  padding-bottom: 30px;
}

.main-container section:nth-child(1) a,
.main-container section:nth-child(4) a {
  font-family: var(--fraunces);
  font-weight: var(--fraunces900);
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.main-container section:nth-child(1) a {
  border-bottom: 1px outset var(--Yellow);
}

.main-container section:nth-child(1) a:hover {
  border-bottom: 5px outset var(--Yellow);
}
.main-container section:nth-child(4) a {
  border-bottom: 1px ridge var(--Softred);
}

.main-container section:nth-child(4) a:hover {
  border-bottom: 5px ridge var(--Softred);
}
.main-container section:nth-child(5) {
  background: url("/images/desktop/image-graphic-design.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main-container section:nth-child(6) {
  background: url("/images/desktop/image-photography.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
main .main-container section:nth-child(5) h3,
main .main-container section:nth-child(6) h3 {
  font-family: var(--fraunces);
  text-align: center;
  font-weight: var(--fraunces900);
  align-self: center;
  display: inline-block;
  padding-bottom: 5%;
  width: 250px;
}

main .main-container section:nth-child(5) p,
main .main-container section:nth-child(6) p {
  font-family: var(--barlow);
  font-weight: var(--barlow600);
  text-align: center;
  align-self: center;
  display: inline-block;
  padding-bottom: 5%;
  width: 300px;
}

main .main-container section:nth-child(5) {
  color: var(--Darkdesaturatedcyan);
}

main .main-container section:nth-child(6) {
  color: var(--Darkblue);
}

.main-img img {
  width: 100%;
  height: 100%;
}

.main-testimonial {
  width: 100%;
  text-align: center;
  padding: 50px;
}

.main-testimonial h2 {
  font-family: var(--fraunces);
  color: var(--Grayishblue);
  padding-top: 50px;
  padding-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.testimonials-continer {
  display: flex;
  gap: 20px;
  padding: 30px;
}

main .testimonials-continer div img {
  border-radius: 50%;
  height: 100px;
}

main .testimonials-continer div :nth-child(2) {
  font-family: var(--barlow);
  font-weight: var(--barlow600);
  padding: 30px 0;
  color: var(--Verydarkgrayishblue);
}

main .testimonials-continer div :nth-child(3) {
  font-family: var(--fraunces);
  padding-bottom: 20px;
}

main .testimonials-continer div :nth-child(4) {
  font-family: var(--barlow);
  font-weight: var(--barlow600);
  font-size: 1.4rem;
  color: var(--Grayishblue);
  padding-bottom: 20px;
}

.main-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}
/*FOOTER*/

footer {
  background-color: var(--Darkmoderatecyan);
  display: grid;
  place-content: center;
  padding: 40px;
  width: 100%;
  text-align: center;
}

footer .footer-container figure {
  padding: 30px 0;
}
footer .footer-container figure svg * {
  fill: var(--Darkdesaturatedcyan);
}
footer ul {
  list-style: none;
  padding-bottom: 50px;
}

footer ul li {
  font-family: var(--barlow);
  display: inline-block;
  padding: 0 20px;
}

footer ul li a {
  text-decoration: none;
  color: var(--Darkdesaturatedcyan);
}

footer ul li a svg *:hover {
  fill: white;
}

footer ul li a:hover {
  color: white;
}

.footer-container {
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 900px) {
  .header-navbar ul {
    display: none;
  }

  .menulogo {
    display: inline;
  }

  .main-container {
    display: flex;
    flex-direction: column;
  }

  .main-container section:nth-child(1) {
    height: 500px;
    order: 2;
  }
  .main-container section:nth-child(2) {
    order: 1;
    height: 500px;
  }
  .main-container section:nth-child(3) {
    order: 3;
    height: 500px;
  }
  .main-container section:nth-child(4) {
    order: 4;
    height: 500px;
  }
  .main-container section:nth-child(5) {
    order: 5;
    height: 500px;
  }
  .main-container section:nth-child(6) {
    order: 6;
    height: 500px;
  }
  .testimonials-continer {
    flex-direction: column;
  }

  .main-img {
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  .main-img img {
    height: 200px;
    width: 100%;
    object-fit: fill;
  }
}
